.bg-image {
    background-image: url("/image");
    /* background-size: cover;
    background-repeat: no-repeat;
    background-position: 90% 10%;
    z-index: -1; */

    width: 100%;
    height: auto;
    background-size: 100% 200%;
   }

.padding{
    padding: 10px 50px 50px 50px;
    background-color: #f0f4c3;
}
.text-inputs{
    padding: 10px 50px 50px 50px;
}
.margin{
    margin-top: 50px;
}

.button{
    width:100%;
}

img{
    min-width: 300px;
}

p{
    color: aqua;
}